<div id="index-swiper" class="swiper-container">

  <div class="swiper-wrapper">

    <div class="swiper-slide">
      <%= image_pack_tag 'cats/cat1.jpeg' %>
    </div>
    <div class="swiper-slide">
      <%= image_pack_tag 'cats/cat2.jpeg' %>
    </div>
    <div class="swiper-slide">
      <%= image_pack_tag 'cats/cat3.jpeg' %>
    </div>
    <div class="swiper-slide">
      <%= image_pack_tag 'cats/cat4.jpeg' %>
    </div>
    <div class="swiper-slide">
      <%= image_pack_tag 'cats/cat5.jpeg' %>
    </div>
    <div class="swiper-slide">
      <%= image_pack_tag 'cats/cat6.jpeg' %>
    </div>

  </div>

  

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <div class="swiper-pagination index"></div>

</div>

