<section class="product_list section">

  <section class="container">
    
    <div class="columns is-multiline">
      <% if products %>
        <%= products.each do |product| %>
          <div class="column is-4">
            <div class="card product-item is-shadowless">
              <%= link_to product_path(product) do %>
                <div class="card-image">
                  <figure class="image">
                    <%= image_tag(product.cover_image.variant(resize: "1000x800")) if product.cover_image.attached? %>
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <h4 class="is-size-6"><%= product.vendor.title  %></h4>
                    <p><%= product.name %></p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</section>